@import 'variables';

::placeholder {
  color: rgb(187, 187, 187);
  font-family: 'Open Sans' , sans-serrif;
}

.search-input {
  border: 2px solid $brillantBlue;
  border-radius: 7px;
  margin: 30px calc(50% - 130px);
  font-size: 1.3em;
  text-align: center;
  width: 250px;
  padding: 3px;
  transition: all .2s;

  &:hover {
    transform: scale(1.03);
  }
}

.filter-container {
  margin: 0 auto;
  width: 200px
}

.filter-label {
  text-align: center;
}

.filter {
  border: 2px solid $brillantBlue;
  border-radius: 7px;
  font-size: 1.3em;
  text-align: center;
  width: 100%;
  padding: 3px;
  transition: all .2s;

  &:hover {
    transform: scale(1.03);
  }
}

* {
  padding: 0;
  margin: 0;
}

.grid-container {
  width: 100%;
  margin: 0 auto;
}

.characters-grid {
  animation: zoomIn .8s ease;
  margin: 50px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 40px;
}

.character-preview-card {
  background-color: rgba(46, 46, 46, 0.5);
  background-blend-mode: darken;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 200px;
  background-size: cover;
  overflow: hidden;
  transition: .4s;

  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    background-color: rgba(46, 46, 46, 0.0);
  }
}

.preview-card-name {
  background-color: black;
  color: white;
  text-align: center;
  padding: 12px;
  width: 100%;
}

.none {
  display:none;
  position: absolute;
}

