@import 'variables';

.landing-page {
  animation: name duration timing-function delay iteration-count direction fill-mode;
  background-image: url('../images/battlefield_cover.jpg');
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  overflow: hidden;

  .action-container {
    width: 100%;
    
      .smash-logo {
      margin: 20px calc(50vw - 305px);
      height: 290px;
      width: 600px;
    }

    button {
      border: 0px;
      background: none;
      font-family: 'Smash Bros', serrif;
      font-size: 2em;
      margin: 20px calc(50vw - 100px);
      position: relative;
      text-shadow: 3px 3px 3px white;
      width: 200px;
      z-index: 5;

      &:hover {
        color: white;
        text-shadow: 1px 2px 1px black;
      }
    }
  }

  .countdown-container {
    border-radius: 15px;
    background-image: linear-gradient(to right, rgba(246, 239, 255, 0), rgba(0, 0, 0, 0.562), rgba(246, 239, 255, 0));
    margin: 0px calc(50vw - 350px);
    position: relative;
    top: 250px;
    width: 700px
  }

  #timer {
    color: white;
    font-size: 2.4em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 2px black;
    text-align: center;
  }

  .countdown-label {
    color: white;
    font-size: 1.8em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-shadow: 2px 2px 2px black;
    text-align: center;
  }

  .hide {
    display: none;
  }

  @mixin cloud($duration, $left, $margin-top, $width) {
    animation: cloudMove $duration linear infinite;
    left: $left;
    margin-top: $margin-top;
    position: absolute;
    width: $width;
    opacity: 0.85;
  }

  .cloud1 {
    @include cloud(157s, -700px, 40px, 400px);
  }

  .cloud2 {
    @include cloud(200s, -1000px, 570px, 400px);
  }

  .cloud3 {
    @include cloud(203s, -300px, 540px, 400px);
  }

  .cloud4 {
    @include cloud(223s, -200px, 70px, 400px);
    height: 200px;
  }

  .cloud5 {
    @include cloud(176s, -600px, 350px, 200px);
  }

  .cloud6 {
    @include cloud(181s, -1050px, 280px, 400px);
  }

  .cloud7 {
    @include cloud(162s, 100px, 300px, 400px);
  }

  .cloud8 {
    @include cloud(248s, -1300px, -20px, 500px);
    height: 300px
  }

  .cloud9 {
    @include cloud(197s, 500px, 40px, 400px);
  }

  .cloud10 {
    @include cloud(180s, 200px, 570px, 400px);
  }

  .cloud11 {
    @include cloud(173s, 900px, 540px, 400px);
  }

  .cloud12 {
    @include cloud(207s, 1000px, 70px, 400px);
    height: 200px;
  }

  .cloud13 {
    @include cloud(206s, 600px, 350px, 200px);
  }

  .cloud14 {
    @include cloud(161s, 150px, 280px, 400px);
  }

  .cloud15 {
    @include cloud(222s, 1300px, 300px, 400px);
  }

  .cloud16 {
    @include cloud(258s, -100px, -20px, 500px);
    height: 300px
  }

  @keyframes cloudMove {
    0% {
      transform: translateX(1200px);
    }
    100% {
      transform: translateX(-1200px);
    }
  }
}