@import '_characters';
@import '_compare';
@import '_stages';
@import '_landing';

$fireOrange: rgb(245, 88, 33);
$lightOrange: rgb(249, 212, 174);
$deepBlue: rgb(0, 28, 156);
$brillantBlue: rgb(56, 127 ,231);
$subduedBlue: rgb(157, 179, 249);
$deepRed: rgb(107, 17, 10);
$purple: rgb(82, 26, 110);

@font-face {
  font-family: 'Smash Bros';
  font-style: normal;
  font-weight: 400;
  src:  url('../fonts/smash_font.ttf') format('truetype'), 
  url('../fonts/smash_font-webfont.woff') format('woff'), 
  url('../fonts/smash_font-webfont.woff2') format('woff2'); 
}

body {
  background: #929292; 
  background: -webkit-linear-gradient(to right, #494949, #1f1f1f); 
  background: linear-gradient(to right, #a3a3a3, #505050);
}

h1 {
  color: blue;
}