@import 'characters';
@import 'compare';
@import 'stages';
@import 'landing';
@import 'header';
@import 'variables';
@import 'characterInfoCard';

body {
  background-image: url('../images/night_battlefield.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(184, 224, 247);
  background-blend-mode: overlay;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
}

h1 {
  color: white;
}


.stages-page {
  margin-left: 65px;
}

.stage-cards {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 8px;
}

.stages-body {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 200px);
  height: 100%;
  width: 95%;
}

.stage-image {
  height: 150px;
  width: 150px;
}

